<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드작성 -->
    <style>
        td ,th, tr{border: 1px solid rgba(22, 121, 55, 0.438); border-collapse: collapse; }
        th{--bs-table-bg:  #36ad6442; text-align: center;}
    </style>

    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <h4><strong><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 20 20">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082"/>
                    </svg> 이의신청 처리결과</strong></h4>
                </div>
            </div>    


            <form action="/test/insertThComment" method="post">
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="memberId" th:value="${testAskOne.memberId}" >
                        <input type="hidden" name="classNum" th:value="${testAskOne.classNum}" >
                        <input type="hidden" name="testNum" th:value="${testAskOne.testNum}" >
                        <input type="hidden" name="protestWriter" th:value="${stuInfoService.memberName}" >
                        <input type="hidden" name="protestN" th:value="${testAskOne.protestNum}" >
                        
                        <th:block th:if="${testAskOne.protestOrigino}==0"> 
                        <input type="hidden" name="protestOrigino" th:value="${testAskOne.protestNum}" >  
                        </th:block>
                        
                        <th:block th:if="${testAskOne.protestOrigino}!=0"> 
                        <input type="hidden" name="protestOrigino" th:value="${testAskOne.protestOrigino}" >  
                        </th:block>


                        <input type="hidden" name="protestGroupno" th:value="${testAskOne.protestGroupno}+1" >  
                
                        
                        <table class="table" style="width:800px">
                            <colgroup>
                                <col width="20%">
                                <col width="30%">
                                <col width="20%">
                                <col width="30%">
                            </colgroup>
                                <tr>
                                    <th>작성자</th>
                                    <td>[[${thTestAskList[0].teacherN}]]</td>                               
                                    <th>신청자</th>
                                    <td>[[${testAskOne.memberN}]] (<span>[[${testAskOne.memberId}]]</span>)</td>

                                
                                
                                </tr>
                                <tr>
                                    <th>수강명</th>
                                    <td>[[${testAskOne.classN}]]</td>                                   
                                    <th>시험명</th>
                                    <td>[[${testAskOne.testN}]]</td>

                                </tr>
                                <tr>
                                    
                                    <th>제목</th>
                                    <td>RE:<input type="text" name="protestTitle"></td>
                                    <th>작성일</th>
                                    <td>
                                        <script>
                                            let day=new Date();
                                            document.write(day.toLocaleString()+"<br>");
                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <th>성적정정 <br>결과</th>
                                    <td colspan="5"><textarea name="protestContent" id="protest" cols="80" rows="10" style="resize: none;"></textarea></td>
                                </tr>
                            </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" class="btn btn-primary text-end"  value="등록">
                        <input type="button" class="btn btn-primary text-end"  value="취소" onclick="goAskThList()"> 
                    </div>
                    
                </div>
            </form>  
            
        </div>
    </div>
    <script>
        function goAskThList(){
            location.href='/test/teacherAskFirst';
        }
    </script>


</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>