<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>



   <th:blck th:each=" stu: ${stuList}">
      <input type="hidden" id="forAlert" th:value="${stu.operatorVOList[0].classNum}">

   </th:blck>


      <script>
         const forAlert =document.querySelector('#forAlert').value;
            alert("시험상세정보를 다시 확인해주세요!!");
               location.href='/test/scoreTeacher?classNum='+forAlert;
      </script>

</body>
</html>