<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <h5>수강 신청이 완료됐습니다.</h5>
            <table class="table table-bordered text-center" th:each="info : ${infoList}">
                <colgroup>
                    <col width="25%">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <td>반 이름</td>
                        <td>[[${info.className}]]</td>
                    </tr>
                    <tr>
                        <td>강사명</td>
                        <td>[[${info.teacherVO.teacherName}]]</td>
                    </tr>
                    <tr>
                        <td>학생명</td>
                        <td>[[${info.teacherVO.memberVO.memberName}]]</td>
                    </tr>
                    <tr>
                        <td>결제금액</td>
                        <td>[[${info.operatorVOList[0].operPay}]]</td>
                    </tr>
                    <input type="hidden" name="memberId" th:value="${info.teacherVO.memberVO.memberId}">
                    <input type="hidden" name="memberRoll" th:value="${info.teacherVO.memberVO.memberRoll}">
                </tbody>
            </table>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-1 d-grid">
                    <input type="button" class="btn btn-outline-primary" value="수강목록" onclick="findClasses()">
                </div>
                <div class="col-1"></div>
                <div class="col-1 d-grid">
                    <input type="button" class="btn btn-outline-secondary" value="회원관리 이동" onclick="location.href='/admin/goMemberList'">
                </div>
                <div class="col-5"></div>
            </div>
        </div>

    </div>
    


     <!-- 수강목록 Modal -->
    <div class="modal fade modal-lg" id="classes-modal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">수강 목록</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col" id="table-head">
                                    <table class="table align-middle text-center">
                                        <colgroup>
                                            <col width="15%">
                                            <col width="20%">
                                            <col width="15%">
                                            <col width="30%">
                                        </colgroup>
                                        <tbody class="class-tbody-tag">
                                            <tr>
                                                <td>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/admin/payment_systems.js"></script>
</th:block>
</html>